*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    height: 100px;

    background-color: aqua;
    align-items: center;
    justify-content: space-around;
}
.nav-items{
    display: flex;
    gap: 20px;
}
a{
    transition: color 0.3s ease; 
    text-decoration: none;  
}
a:hover {
    color: #ff4500; 
    text-decoration: underline; 
}
.body{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    height: 30vh;
    justify-content: center;
    top: 50%;
}
.items-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.items-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

select {
    background-color: #fff; 
    border: 1px solid #007bff; 
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px; 

}

select:hover {
    border-color: #042dfa; 
}


input[type="text"] {
    background-color: #fff; 
    border: 1px solid #007bff; 
    padding: 10px; 
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    width: 180px; 
}

input[type="text"]:disabled {
    opacity: 1;
    cursor: not-allowed;
}

button {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}


button:hover, button:focus {
    background-color: #0056b3; 
}

.button{
    text-align: center;
}


